@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    body .header .container {
        justify-content: space-between;
    }

    .header .contact {
        margin-left: 200px;
    }

    .main .main__image {
        max-width: 412px;
    }

    .footer .footer__social {
        margin-right: 200px;
    }
}

@media screen and (max-width: 1029px) {

    body .header .container {
        justify-content: space-between;
    }

    .header .logo {
        margin-right: 0;
    }

    .header .contact {
        margin-left: 0;
    }

    body .main {
        padding: 75px 0 219px;
    }

    .main .main__image {
        top: 123px;
        right: 64px;
        max-width: 350px;
    }

   body .main__image::before, body .main__image::after {
       top: 15px;
       right: 26px;
       width: 250px;
       height: 250px;
    }

    body .advantages {
        padding: 70px 0 120px;
    }

    .advantages .advantages__description-h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        font-size: 45px;
        color: rgb(51, 25, 7);
        line-height: 1.222;
        margin-bottom: 89px;
        text-align: center;
    }

    /*.advantages .advantages__description-h2 {*/
    /*    grid-row: 1 / 2;*/
    /*    grid-column: 1 / 3;*/
    /*    font-size: 45px;*/
    /*    color: rgb(51, 25, 7);*/
    /*    line-height: 1.222;*/
    /*    margin-bottom: 80px;*/
    /*    text-align: center;*/
    /*}*/

    .footer .footer__wrapper {
        justify-content: space-between;
    }

    .footer .footer__logo-rights {
        width: 162px;
        margin-right: 0;
    }

    .footer .footer__social {
        margin-right: 0;
    }

    @media screen and (max-width: 991px) {

        body .header {
            padding-top: 38px;
        }

        .header .logo {
            margin-right: 103px;
        }

        body .header .container {
            justify-content: left;
        }

        .header .contact {
            display: none;
        }

        body .main .container {
            display: inline-block;
            position: relative;
        }

        body .main {
            padding-top: 77px;
            padding-bottom: 420px;
        }

        body .main__action {
            margin-top: 41px;
        }

        .main .main__image {
            position: absolute;
            top: 210px;
            right: -241px;
            max-width: 529px;
        }

        .main .main__image img {
            position: relative;
            top: 1px;
            right: 1px;
        }

        /*.main .main__image img {*/
        /*    max-width: 100%;*/
        /*    position: relative;*/
        /*    top: 181px;*/
        /*    right: 122px;*/
        /*}*/

        body .main__image::before, body .main__image::after {
            content: '';
            position: absolute;
            top: 96px;
            right: 118px;
            width: 301px;
            height: 305px;
        }

        .products .products h2 {
            margin-bottom: 111px;
        }

        .products .products__items {
            grid-template-columns: repeat(2, minmax(215px, 261px));
            justify-content: center;
            grid-template-rows: 1fr;
            grid-column-gap: 26px;
            grid-row-gap: 136px;
        }

    }

    @media screen and (max-width: 886px){
        .advantages .advantages__description-h2 {
            margin-bottom: 69px;
        }

        .main .main__image {
            position: absolute;
            top: 270px;
            right: -85px;
            max-width: 529px;
        }

    }


    @media screen and (max-width: 768px) {

        body .header {
            padding-top: 38px;
        }

        .header .logo {
            margin-right: 103px;
        }

        body .header .container {
            justify-content: left;
        }

        .header .contact {
            display: none;
        }

        body .main .container {
            display: inline-block;
            position: relative;
        }

        body .main {
            padding-top: 77px;
            padding-bottom: 420px;
        }

        body .main__action {
            margin-top: 41px;
        }

        .main .main__image {
            position: absolute;
            top: 270px;
            right: -85px;
            max-width: 529px;
        }

        .main .main__image img {
            position: relative;
            top: 1px;
            right: 1px;
        }

        body .advantages {
            padding-top: 119px;
        }

       body .advantages .advantages__grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 561px));
            /*grid-template-columns: 1fr;*/
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            text-align: center;
            justify-items: center;
            justify-content: center;
        }

        .advantages .advantages__description-h2 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            font-size: 45px;
            color: rgb(51, 25, 7);
            line-height: 1.222;
        }

        .advantages .advantages__description-p {
            max-width: 768px;
            align-self: baseline;
        }

        .advantages .advantages__image {
            grid-column: 1 / 1;
            grid-row: 3 / 4;
            max-width: 302px;
        }

        .advantages .advantages__image img {
            max-width: 100%;
        }

        .advantages .advantages__items {
            grid-template-columns: repeat(2, minmax(215px, 218px));
            grid-row-gap: 80px;
            grid-column-gap: 54px;
            justify-content: center;
            align-items: baseline;
        }

        .advantages .advantages__items-one {
            display: grid;
            justify-items: center;
        }

        .advantages .advantages__items-p {
            text-align: center;
        }

        .products .products__items {
            grid-template-columns: repeat(2, minmax(215px, 261px));
            justify-content: center;
            grid-template-rows: 1fr;
            grid-column-gap: 26px;
            grid-row-gap: 136px;
        }

        .order .order__wrapper {
            gap: 0;
            position: relative;
        }

        .order .order__image {
            order: 1;
            position: absolute;
            bottom: -101px;
            right: 3px;
            max-width: 352px;
        }

        .order .order__form::after {
            bottom: 391px;
            right: -212px;
        }

        body .footer__wrapper {
            align-items: baseline;
        }

        .footer .footer__logo-rights {
            margin-right: 0;
            align-self: center;
        }

        .footer .footer__social {
            margin-right: 0;
        }

        .button__fixed .button__fixed-border {
            width: 60px;
            height: 60px;
        }

        .button__fixed .button__fixed-border img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 704px) {
        .main .main__image {
            max-width: 425px;
            top: 336px;
            right: 1px;
        }

        .order .order__form::after {
            right: -91px;
        }

        body .main__image::before, body .main__image::after {
            top: 76px;
            right: 60px;
            width: 267px;
            height: 265px;}
    }

    @media screen and (max-width: 625px) {
        .main .main__image {
            top: 366px;
            right: 114px;
            max-width: 300px;
        }

        body .main h1 {
            font-size: 40px;
        }

        body .main__image::before, body .main__image::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 25px;
        }

    }

    @media screen and (max-width: 547px) {
        body .header .container {
            justify-content: space-between;
        }

        body .menu {
            /*display: none;*/
        }

        body .main-image {
            width: 100%;
        }

        body .header .menu ul {
            width: 350px;
        }

        body .header .menu {
            position: fixed;
            width: 100%;
            height: 100%;
            margin: 0;
            right: 0;
            top: -100%;
            background: rgb(235 168 174);
            transition: 0.5s;
        }

        body .header .menu ul {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 100px auto;
            gap: 16px;
        }

        body .header .menu ul a {
            color: #ffefef;
            font-size: 35px;
        }

        body .header .menu ul li {
            margin-right: 0;
        }


        body .header .menu-item {
            margin: 15px 0;
        }

        body .header .burger {
            display: block;

        }

        body .header .burger svg {
            width: 36px;
            height: 36px;
            fill: #fad7a7;
            margin-right: 20px;
        }

        body .menu.open {
            display: flex;
            /*align-items: center;*/
            z-index: 5;
            top: 0;
        }

        body .menu .close {
            display: block;
            width: 24px;
            height: 24px;
            fill: rgb(255 255 255);
            position: absolute;
            top: 30px;
            right: 21px;
        }

        .products .products__image {
            position: absolute;
            top: -59px;
            right: 19px;
        }

        .order .order__form::after {
            right: -5px;
        }

        .advantages .advantages__items {
            grid-column-gap: 22px;
        }
    }

    @media screen and (max-width: 500px) {
        .products .products__image {
            position: absolute;
            top: -59px;
            right: 10px;
        }
    }

    @media screen and (max-width: 460px) {

        /*body .header .menu {*/
        /*    display: none;*/
        /*}*/
        body .main {
            padding-bottom: 43px;
        }

        body .main .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .main .main__image {
            position: static;
            margin-left: 0;
            max-width: 250px;
            margin-top: 38px;
        }

        .main .main__image::before {
            top: 394px;
            right: 148px;
            width: 130px;
            height: 130px;
        }

        .main .main__image::after {
            top: 394px;
            right: 148px;
            width: 130px;
            height: 130px;
        }

        .main .main__information {
            text-align: center;
        }

        .main .main__information h1 {
            font-size: 32px;
            color: rgb(255, 255, 255);
            line-height: 1.25;
            text-align: center;
        }

        body .advantages {
            padding: 100px 0;
        }

        .advantages .advantages__description-h2 {
            font-size: 30px;
            line-height: 1.167;
            margin-bottom: 0;
        }

        .advantages .advantages__description-p {
            font-size: 16px;
            line-height: 1.437;
        }

        .advantages .advantages__items {
            grid-column-gap: 15px;
            grid-row-gap: 55px;
            grid-template-columns: repeat(2, minmax(165px, 218px));
        }

        .advantages .advantages__items-number {
            margin-left: 0;
        }

        .advantages .advantages__items-text {
            font-size: 18px;
        }

        .advantages .advantages__items-p {
            font-size: 13px;
        }

        body .products {
            padding: 100px 0;
        }

        .products .container h2 {
            font-size: 30px;
        }

        .products .products__image {
            position: absolute;
            top: -59px;
            right: 31px;
        }

        .products .products__items {
            grid-template-columns: repeat(1, minmax(215px, 261px));
        }

        body .order {
            padding: 100px 0 77px;
        }

        .order .order__image {
            display: none;
        }

        .order .order__form::after {
            bottom: 375px;
            right: -1px;
            background-image: url("../image/strawberryBig.png");
            width: 84px;
            height: 101px;
        }

        .order .order__form h2 {
            font-size: 30px;
        }

        .order .order__form p {
            font-size: 16px;
        }

        .order .order__action .input__transparent {
            width: 344px;
        }

        .order .order__action .order-button {
            width: 344px;
        }

        body .footer {
            padding: 50px 0 101px;
        }

        .footer .footer__wrapper {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            text-align: center;
            align-items: center;
            gap: 40px;
        }

        .footer .logo {
            margin-right: 0;

        }

        .footer .footer__logo-rights {
            margin-right: 0;
            order: 1;
            position: relative;

        }

        .footer .footer__rights {
            position: absolute;
            top: 205px;
        }

        .footer .footer__social {
            margin-right: 0;
            order: 3;
        }

        .footer .footer__phone {
            order: 2;
        }
    }
}

@media screen and (max-width: 363px) {
    .order .order__action .input__transparent {
        width: 298px;
    }

    .order .order__action .order-button {
        width: 298px;
    }
    .main .main__image::before,
    .main .main__image::after {
        top: 439px;
        right: 120px;
    }
}

@media screen and (max-width: 346px) {
    .advantages .advantages__items {
        grid-column-gap: 10px;
        grid-row-gap: 55px;
        grid-template-columns: repeat(2, minmax(125px, 218px));
    }

    .main .main__image::before,
    .main .main__image::after {
        top: 439px;
        right: 120px;
    }

    .advantages .advantages__items-text {
        font-size: 15px;
    }

    .advantages .advantages__items-p {
        font-size: 10px;
    }
}

@media screen and (max-width: 346px){
    .main .main__image::before,
    .main .main__image::after {
        top: 503px;
        right: 102px;
    }
}

@media  screen and (max-width: 320px) {
    body .main .main__image::before, body .main .main__image::after {
        top: 501px;
        right: 94px;
    }
}